<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD8HAyQVwDfHVEs8hRgwG1hqDTmenYFlg</string>
	<key>GCM_SENDER_ID</key>
	<string>828004306624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartDrivingLicense</string>
	<key>PROJECT_ID</key>
	<string>smartdrivinglicense</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdrivinglicense.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828004306624:ios:f6c0bbdf19542b81212725</string>
</dict>
</plist>